<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package 
			Name="Azure DevOps Pipeline Monitor"
      Language="1033" 
      Version="2.0.4.0" 
      Manufacturer="Andrew Milne"
      UpgradeCode="D946D59E-49BA-4DCC-96A9-50B81C4BD2BA" 
      InstallerVersion="500"
			Scope="perUser">
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes"/>
		<Icon Id="icon.ico" SourceFile="..\BuildMonitor.UI\Resources\_0031_Tools.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    
		<!-- Run on finish
    <!- Add "Launch" checkbox to UI ->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ADOPipelineMonitor" />
    
    <!- Custom Action to run ->
    <Property Id="WixShellExecTarget" Value="[#myapplication.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    -->
    
		<UI Id="UserInterface">
			<!--<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR"/>-->
			<!--<Property Id="WixUI_Mode" Value="Custom"/>-->
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8"/>
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes"/>
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes"/>
			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
			<DialogRef Id="ProgressDlg"/>
			<DialogRef Id="ErrorDlg"/>
			<DialogRef Id="FilesInUse"/>
			<DialogRef Id="FatalError"/>
			<DialogRef Id="UserExit"/>
			<!-- Run on finish
      <Publish Dialog="ExitDialog"
        Control="Finish"
        Event="DoAction"
        Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      -->
			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999"/>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"/>
		</UI>
    
		<UIRef Id="WixUI_Common"/>
    
		<Feature Id="ProductFeature" Title="Azure DevOps Pipeline Monitor" Level="1">
			<ComponentRef Id="ProductComponent"/>
			<!-- Add Start Menu -->
			<ComponentRef Id="AppShortcut"/>
			<!-- Add Desktop Shortcut-->
			<ComponentRef Id="ApplicationShortcutDesktop"/>
		</Feature>
    
		<DirectoryRef Id="AppProgramsFolder">
			<Component Id="AppShortcut" Guid="D2307FDC-7885-47B0-810F-54836EA8F3E2">
				<Shortcut Id="AppStartMenuShortcut" 
                  Name="Azure DevOps Pipeline Monitor" 
                  Description="Tray App to Monitor ADO Pipelines" 
									Target="[INSTALLFOLDER]BuildMonitor.App.exe" 
									WorkingDirectory="INSTALLFOLDER" 
									Icon="icon.ico" 
									IconIndex="0"/>
				<RemoveFolder Id="AppProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" 
                       Key="Software\AndrewMilne\ADOPipelineMonitor" 
											 Name="installed"
											 Type="integer" 
											 Value="1" 
											 KeyPath="yes"/>
			</Component>
		</DirectoryRef>
    
		<StandardDirectory Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="24DEF5E2-B856-43BB-AB81-76A531D327AC">
				<Shortcut Id="ApplicationDesktopShortcut" 
                  Name="Azure DevOps Pipeline Monitor" 
									Description="Tray Application to Monitor Builds" 
									Target="[INSTALLFOLDER]BuildMonitor.App.exe" 
									WorkingDirectory="INSTALLFOLDER" 
									Icon="icon.ico" 
									IconIndex="0"/>
				<RemoveFolder Id="DesktopFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" 
                       Key="Software\AndrewMilne\ADOPipelineMonitor" 
											 Name="installed" 
											 Type="integer"
											 Value="1" 
											 KeyPath="yes"/>
			</Component>
		</StandardDirectory>
    
		<StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="COMPANYFOLDER" Name="Andrew_Milne">
				<Directory Id="INSTALLFOLDER" Name="Azure DevOps Pipeline Monitor">
					 <Component Id="ProductComponent" Guid="0725BBE6-B911-4EBC-AAC3-DD09BE4F0869">
							<File Source="BuildMonitor.App.exe"/>
							<RemoveFolder Directory="INSTALLFOLDER" On="uninstall" />
							<RemoveFolder Directory="COMPANYFOLDER" On="uninstall" />
							<RegistryValue Root="HKCU"
														 Key="Software\AndrewMilne\ADOPipelineMonitor"
														 Name="installed"
														 Type="integer"
														 Value="1"
														 KeyPath="yes"/>
					 </Component>
				</Directory>
      </Directory>
		</StandardDirectory>
    
		<!--Start Menu Folder-->
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="AppProgramsFolder" Name="Azure DevOps Pipeline Monitor"/>
		</StandardDirectory>
    
		<!-- Desktop Folder-->
		<StandardDirectory Id="DesktopFolder"/>
    
	</Package>
</Wix>